.foodbk{
    background-image: url("../images/About/aboutBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
  }
.text-about-content{
    font-family: "KhmerOSbattambang";
    padding:30px; 
    line-height: 28px; 
    font-size: 14px; 
    color: blue;
}
.text-me, label, button{
    font-family: "KhmerOSbattambang";
}
h2{
    font-family: "Romnea-Italic";
}
.contact-gif img{
    width: 100%;
    height: 100%;
}
